.sidebar 
{
  margin: 0;
  padding: 0;
  margin-top:-10px;
  margin-left:-10px;
  width: 200px;
  background-color:#3399FF;
  //opacity:0.5;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.sidebar a 
{
  display: block;
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: white;
  padding: 16px;
  font-size:16px;
  font-weight:bold;
  text-decoration: none;
}
.sidebar a.active 
{
  background-color:#3399FF;
  font-weight:bold;
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color:white;
  font-size:16px;
  padding:0px;
 // margin-top:5px;
}
.sidebar a:hover:not(.active) 
{
  background-color:white;
  color: blue;
  font-size:18px;
}
div.content 
{
  margin-left: 190px;
 margin-right:-8px;
 //margin-bottom:-15px;
  // padding: 1px 16px;
  height:auto;
}
@media screen and (max-width: 700px) 
{
  .sidebar 
  {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a 
  {
	  float: left;
  }
  div.content 
  {
	  margin-left: 0;
	  
  }
}


@media screen and (max-width: 400px) 
{
  .sidebar a 
  {
    text-align: center;
    float: none;
  }
}
#outer
{
	min-height:100%;
	width:100%;
	background-image:url('../images/anchor-lee-kO1G3neRA2o-unsplash.jpg');
	  background-size:100% 100%;
	//background-color:#B3E5FC;
}
#welcome
{
	height:57px;
	width:100%;
	background-color:#3399FF;
	//border:0.3px solid #3399FF;
	margin-top:-10px;
	font-weight:bold;
	position:fixed;
}
#outer
{
	height:auto;
	width:100%;
	//background-color:blue;
	//opacity:0.5;
	//border: 1px solid;
	//margin-top:57px;
	
}
#inner
{
	height:auto;
	width:100%;
	//background-color:#29b6f6;
	//opacity:0.5;
	//margin-top:-30px;
	//border: 1px solid;
}
span
{
	font-family:inherit;
	font-size:30px;
	font-weight:bold;
	//margin-top:60px;
	color:blue;
}
.formcontrol
{
	border: 1px solid grey;
    height:80px;
	width:350px;
	resize:none;
    //padding-left: 15px;
   // padding-right: 15px;
  // background:#2196f3;
   // color: white;
    font-size: 20px;
    border-radius: 30px;
	//display:block;
	outline:none;
	margin-top:60px;
	font-family:MS Reference Sans Serif;
}
.formcontrol:hover
{
	//background-color:#2196f3;
	//color:white;
	
}
#add
{
	font-family:,MS Reference Sans Serif;
	height:30px;
	width:200px;
	//border:1px solid;
	margin-right:-700px;
}
caption
{
	font-family:cooper;
	font-size:30px;
}
//#sn
{
	margin-left:200px;
	font-size:30px;
}
//#ques
{
	height:100px;
	width:400px;
	//border:1px solid;
	//border-radius:30px;
	margin-top:20pxpx;
}
//.ans
{
	height:30px;
	width:200px;
	border:1px solid red;	
	border-radius:30px;
	margin-bottom:-40px;
	outline:none;
}
table
{
	border:2px solid;
}
th, td {
  
  text-align: left;
}
th
{
	background-color:#FF6342;
	padding:10px;
}
tr:nth-child(even) 
{
	background-color: #99CCFF;
}
tr:nth-child(odd) 
{
	background-color: #F9C694;
}
tr:hover 
{
	background-color: #CCCCCC;
}