p
{
	text-align:center;
	font-size:20px;
	font-family:italics;
}
#menu
{
	height:80px;
	width:100%;
	border:1px solid white;
	background-image:url('heart-pulse-one-line-vector-450w-650080933.jpg');
	background-color:white;
	//opacity:0.6;
	overflow:hidden;
	position:fixed;
	transition:top 0.3s;
	top:0;
}
#menu ul
{
	list-style-type:none;
	//margin-top:25px;
	margin-top:-20px;
}
#menu ul .col-sm-6 li
{
	margin-top:25px;
	margin:auto;
	margin-left:15px;
	display:inline-block;
	padding:25px 0px 10px 0px;
	//border:1px solid;
	//border-radius:25px;
}
#menu ul .col-sm-4 li
{
	margin-top:25px;
	margin:auto;
	margin-left:15px;
	display:inline-block;
	padding:40px 0px 10px 0px;
	//border:1px solid;
	//border-radius:25px;
}
#menu ul li a
{
	margin-top:25px;
	font-size:22px;
	text-decoration:underline;
	color:black;
	font-weight:bold;
}
#menu ul li a:hover
{
	background-color:white;
	color:blue;
	
}
#photo
{
	height:50px;
	width:50px;
	border:1px solid;
	border-radius:50px;
	//float:right;
	//margin-right:50px;
	//background-image:
}
