

.sidebar 
{
  margin: 0;
  padding: 0;
  //margin-top:-10px;
  width: 200px;
  background-color:#3399FF;
  //opacity:0.5;
margin-top:-10px;
margin-left:-10px;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.sidebar a 
{
  display: block;
  color: white;
  padding: 16px;
  font-size:16px;
  font-weight:bold;
  text-decoration: none;
}
.sidebar a.active 
{
  background-color:#3399FF;
  color:white;
  font-size:16px;
  padding:0px;
 // margin-top:5px;
}
.sidebar a:hover:not(.active) 
{
  background-color:white;
  color: blue;
  font-size:18px;
}
div.content 
{
  margin-left: 200px;
  // padding: 1px 16px;
  height:auto;
}
@media screen and (max-width: 700px) 
{
  .sidebar 
  {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a 
  {
	  float: left;
  }
  div.content 
  {
	  margin-left: 0;
	  width:100%;
	  background-color:linear-gradient(to right,#FF0000,#6699CC);
  }
}


@media screen and (max-width: 400px) 
{
  .sidebar a 
  {
    text-align: center;
    float: none;
  }
}
#outer
{
	min-height:101%;
	width:101.5%;
	margin-left:-10px;
	//background-color:#B3E5FC;
}
#welcome
{
	height:57px;
	width:100%;
	background-color:#3399FF;
	margin-left:-10px;
	border:0.3px solid #3399FF;
	margin-top:-10px;
	font-weight:bold;
	position:fixed;
}
table
{
	border:2px solid;
}
th, td {
  padding: 15px;
  text-align: left;
}
th
{
	background-color:#FF6342;
}
tr:nth-child(even) 
{
	background-color: #99CCFF;
}
tr:nth-child(odd) 
{
	background-color: #F9C694;
}
tr:hover 
{
	background-color: #CCCCCC;
}